# Hugging Face credentials
HF_USERNAME="your_huggingface_username"
HF_TOKEN="your_huggingface_token"

# Weights & Biases credentials
WANDB_PROJECT="your_wandb_project"
WANDB_ENTITY="your_wandb_entity"
WANDB_API_KEY="your_wandb_api_key"
